@import '../../theme';

.uniFormError {
  &__errorContainer {
    // padding-top: 3px;
  }

  &__error {
    padding: 0 12px;

    &_dummy {
      font-size: 12px;
    }

    &_real {
      color: $vermillion;
      font-size: 12px;
    }
  }
}

.uniFormErrorContainer {
  $root: &;

  &_hasError {
    .uniFormInput__input,
    .uniFormSelect__button {
      border-bottom: 1px solid $vermillion;
    }
  }

  &__errorContainer {
    padding-top: 3px;

    /* #{$root}_isValid &::before {
      font-size: 12px;
      content: '\200B';
    } */
  }

  &__error {
    padding: 0 12px;

    &_dummy {
      font-size: 12px;
    }

    &_real {
      color: $vermillion;
      font-size: 12px;
    }
  }
}
