// @import '../../src-core/theme/variables';
* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
}

[data-spa-fullscreen] {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* .modal-backdrop {
  z-index: $fullscreen-z-index + 100000 - 1000;
} */

