@import '../../theme';

.uniFormInputSuggestions {
  //font-family: 'PT Sans', Calibri, Helvetica, Arial, sans-serif;
  //width: 100%;
  //margin: 0;
  position: relative;

  &__options {
    width: 100%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(186, 186, 186, .5);
    border: solid 1px $white-six;
    max-height: 175px;
    overflow-y: auto;
    position: absolute;
    top: $input-height-lg;
    margin-top: -2px;
    z-index: 1;
  }

  &__optionItem {
    width: 100%;
    padding: 8px 16px;
    white-space: nowrap;
    text-align: left;
    color: $med-grey-txt;
    transition: background .25s ease-in-out;

    &:not(&_last) {
      border-bottom: solid 1px $white-six;
    }

    &_first {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    &_last {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &:hover {
      background: #f8fff2;
    }
  }
}
