@import '../../theme';

.uniFormH1 {
  font-size: 16px;
  color: $med-grey-txt;
  width: 100%;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 1px solid $white-six;
}

.uniFormH2 {
  color: $greyish-brown-three;
  padding-bottom: 4px;
  font-size: 14px;
  margin: 0;
  cursor: default;
}
