@import '../../theme';

$check-size: 16px;
$check-space: 6px;

.uniCheckbox {
  $root: &;

  font-family: PT Sans, Calibri, Helvetica, Arial, sans-serif;

  &_disabled {
    opacity: .25;
  }

  &_checked {
    #{$root}__boxCheck {
      opacity: 1;
    }
  }

  &:hover {
    #{$root}__box {
      box-shadow: 0 0 3px 0 rgba(186, 186, 186, .8);
    }
  }

  &_checked:hover,
  &_disabled:hover {
    #{$root}__box {
      box-shadow: none;
    }
  }

  &__inner {
    align-items: center;
  }

  &__box {
    flex-shrink: 0;
    width: $check-size;
    height: $check-size;
    background-color: #fff;
    border: 1px solid $pinkish-grey-four;
    border-radius: 3px;
    transition: box-shadow .25s ease-in-out;
  }

  &__boxCheck {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: url('check.svg') center center no-repeat;
    background-size: 82%;
    transition: opacity .25s ease-in-out;
  }

  &__label {
    $font-size: 14px;

    padding: 0 10px;
    font-size: $font-size;
    color: $dark_txt;
    text-align: left;

    @include ellipsis(1, 1.4, $font-size);
  }
}
