@import '../../theme';

$arrow-size: 4px;
$content-item-height: 32px;
$visible-items: 7.5;
$content-height: $content-item-height * $visible-items;

.uniFormSelect {
  position: relative;

  &_hasError &__button {
    border-color: $vermillion;
  }

  &_disabled &__button {
    cursor: default;

    &Label {
      color: $pinkish-grey-four;
    }
  }

  &__dropDown.dropdown_opened &__button {
    border-color: transparent;

    &Arrow {
      transform: rotate(180deg);
      color: $dark-txt;
    }
  }

  &__dropDown {
    width: 100%;
  }

  &__button {
    height: $input-height-lg;
    padding: 0 12px;
    width: 100%;
    min-width: 72px;
    text-align: left;
    border-bottom: 1px solid $white-six;
    transition: border .25s ease-in-out;

    &Label {
      font-size: 14px;
      color: $dark-txt;
      margin-right: 6px;
    }

    &Arrow {
      width: 13px;
      height: 7px;
      transition: transform .25s ease-in-out, color .25s ease-in-out;
      color: $pinkish-grey-four;

      svg {
        display: block;
      }
    }
  }

  &__content {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(186, 186, 186, .5);
    border: solid 1px $white-six;
    overflow: hidden;

    &Body {
      max-height: $content-height;
      overflow-y: auto;
    }

    .dropdown_positionUp & {
      margin: 0 0 8px;
    }

    .dropdown_positionDown & {
      margin: 8px 0 0;
    }

    &Item {
      width: 100%;
      padding: 0 16px;
      height: $content-item-height;
      white-space: nowrap;
      text-align: left;
      color: $med-grey-txt;
      transition: background .25s ease-in-out;

      &Label {
        font-size: 14px;
      }

      &:not(&_last) {
        border-bottom: solid 1px $white-six;
      }

      &_first {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      &_last {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:hover {
        background: $white-off;
      }
    }
  }

  &__scrollable {
    overflow-y: auto;
  }
}
