@import '../../theme';

.uniFormInput {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  // font-family: 'PT Sans', Calibri, Helvetica, Arial, sans-serif;


  &_disabled &__input {
    color: $pinkish-grey-four;
  }

  &_hasError &__input {
    border-color: $vermillion;
  }

  &__input {
    padding: 5px;
    box-sizing: border-box;
    // height: $input-height-lg;
    // height: $input-height-lg;
    // padding: 0 12px;
    width: 100%;
    // font-size: 14px;
    font-size: 16px;
    border: 0;
    // border-bottom: 1px solid $white-six;
    outline: none;
    color: $dark-txt;
    margin: 0;
    transition: border .25s ease-in-out;
    background: none;

    &:focus {
      border-color: $pinkish-grey-four;
    }
  }
}
