@import '../theme';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

.pageLogin {
  font-family: 'Roboto', sans-serif;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__backgroundImgContainer {
    background-color: #0f3647;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__backgroundImgPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
  }

  &__backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    filter: blur(5px);
    transition: filter 500ms linear, opacity 500ms linear;
  }

  &__backgroundImg_loaded {
    filter: blur(0);
    opacity: 1;
  }

  &__contentContainer {
    position: relative;
    padding: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__contentContainerBG {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  %contentContainerBGLayer {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__contentContainerBGLayer0 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    box-shadow: 0 0 800px 100px black;
  }

  &__contentContainerBGLayer1 {
    background: linear-gradient(18deg, #ffffff 0%, #ffffff 100.38%);
    opacity: 0.1;
    @extend %contentContainerBGLayer;
  }

  &__contentContainerBGLayer2 {
    background: linear-gradient(18deg, #ffffff 0%, #ffffff 100.38%);
    opacity: 0.2;
    @extend %contentContainerBGLayer;
  }

  &__contentContainerBGLayer3 {
    background: linear-gradient(
                    197.97deg,
                    rgba(252, 252, 252, 0.46) 0%,
                    rgba(252, 252, 252, 0) 100.38%
    );
    @extend %contentContainerBGLayer;
  }

  &__title {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  &__title + &__loginContainer {
    margin-top: 32px;
  }

  %inputs {
    input {
      color: white;
      border-radius: 3px;
      border: 1px solid white;
      padding: 8px;
      height: 32px;

      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }

  &__loginContainer {
    @extend %inputs;
  }

  &__loginContainer + &__passwordContainer {
    margin-top: 15px;
  }

  &__passwordContainer {
    @extend %inputs;
  }

  &__passwordContainer + &__loginBtn {
    margin-top: 25px;
  }

  &__loginBtn {
    background-color: #5aafe7;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    min-height: 42px;
    font-weight: bold;
    transition: background 150ms linear;

    span {
      font-size: 20px;
    }

    &.button_disabled {
      background-color: lightgray;
    }
  }

}
